@import 'mixins';

* {
  padding: 0;
  margin: 0;
  font-family: paralucent-condensed, sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $color-green;
}

body {
  background-image: url("../img/background.jpg");
  height: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-position: right;
  max-width: 1000px;
  margin: 0 auto;
}

#dashboard-nav {
  width: 100%;
  background: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include tablet {
    flex-direction: row;
  }

  .pre-links {
    width: 100%;
    padding: 10px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .trigram {
      @include tablet {
        display: none;
      }
      font-size: 2rem;
    }
  }

  img {
    max-height: 35px;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    font-size: 1.6rem;
    padding: 20px;

    a {
      padding: 20px 0;
    }

    .logout {
      color: #aaa;
    }
    @include tablet {
      flex-direction: row;
      justify-content: flex-end;
      padding: 0 20px;
      font-size: 1.2rem;

      a {
        padding: 0 10px;
      }
    }
  }
}

#dashboard-container {
  background: white;
  padding: 50px;

  .dashboard-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
    }
  }

  .dashboard-announcement {
    &.alert {
      background-color: lighten(red,40%);
    }

    .announcement-meta {
      display: flex;
      flex-direction: column;
      @include tablet {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
      }
    }
    padding: 20px;
    margin: 30px 0;
    border-radius: 5px;
    background: lighten($color-blue,65%);

    h2 {
      font-size: 1.2rem;
    }

    p {
      font-weight: 300;
      font-size: 1rem;
      letter-spacing: 1px;
    }
  }

  .dashboard-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .card {
      border: 2px solid lighten($color-blue,50%);
      border-radius: $border-radius;
      flex-grow: 1;
      margin: 10px;
      padding: 10px;
      display:flex;
      flex-direction: column;
      align-items: center;
      h2{
        margin-bottom:20px;
        font-size:2rem;
      }
      h3{
        font-size:1.6rem;
      }
      p{
        font-size:1.3rem;
      }

      .lesson_details{
        & + .lesson_details{
          margin-top:40px;
          @include tablet{
            margin-top:20px;
          }
        }
        display:flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
        padding:10px 15px;
        @include tablet{
          flex-direction:row;
          align-items: center;
        }
        .lesson_header{
          display:flex;
          flex-direction:column;
          align-items: center;
          @include tablet{
            margin:0 10px;
          }
          img{
            height:50px;
            margin-bottom:5px;
          }
        }
        .lesson_data{
          display:flex;
          flex-direction: column;
          justify-content: center;
          text-align:center;
          @include tablet{
            margin:0 10px;
          }
        }
        .zoom_tab{
          display:flex;
          flex-direction: column;
          justify-content: center;
          text-align:center;
          margin-top:10px;
          padding:5px 10px;
          border-radius:5px;
          background:#ccc;
          @include tablet{
            margin:0 10px;
          }
        }
      }



    }
  }

  .calendar-content{
  th, td{
    font-size:1.4rem;
      text-align: left;
      padding:10px;
    }

  }
}



footer {
  text-align: center;
  color: white;
  font-weight: 200;
  letter-spacing: 1px;
  font-size: 0.8rem;
  margin: 5px;

  a {
    color: white;
  }
}
